body {
    background-color: rgb(151, 194, 232);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black; /* font color */
}


.header img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}


a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.div1 {
    border: 2px solid navy; 
    margin-top: 15px;           
    padding: 5px;               
    width: 1450px;     
    background-color: #e0f7fa;
}

.div2 {
    border: 2px solid #003366; 
    margin: 50px auto;          
    padding: 10px;             
    width: 400px;         
    text-align: center;  
    background-color: navajowhite;
}

.div3 {
    width: 80%;          
    max-width: 600px;    
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(226, 240, 244);
}
.div4 iframe {
    width: 100%;
    max-width: 1000px; 
    height: 600px;
    border: none;
}